/* Roboto font */
.f-roboto-300 {
    font-weight: 300;
}
.f-roboto-400 {
    font-weight: 400;
}
.f-roboto-500 {
    font-weight: 500;
}
.f-roboto-700 {
    font-weight: 700;
}

/* Raleway font */
.f-raleway-300 {
    font-weight: 300;
}
.f-raleway-400 {
    font-weight: 400;
}
.f-raleway-500 {
    font-weight: 500;
}

/* Playfair display font */
.f-playfair-display-400 {
    font-weight: 400;
}
.f-playfair-display-500 {
    font-weight: 500;
}
.f-playfair-display-600 {
    font-weight: 600;
}
.f-playfair-display-700 {
    font-weight: 700;
}
.f-playfair-display-800 {
    font-weight: 800;
}

